@media (max-width: 900px) {
    .acoes {
        flex-direction: column;
        max-width: 90%;
    }

    .acoes input,
    .acoes select,
    .btn {
        width: 100%;
    }
}

@media (max-width: 600px) {

    .topo h1 {
        font-size: 22px;
        padding: 0 10px;
    }

    .grid-produtos {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }

    .card img {
        height: 140px;
    }

    .modal-content {
        padding: 15px;
    }
}

@media (max-width: 420px) {

    .grid-produtos {
        grid-template-columns: 1fr;
    }

    .card img {
        height: 130px;
    }

    .modal-content img {
        height: 180px;
    }
}