/*Paleta de cores Olive Garden Feast (do site coolors.co)*/
/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background: #D9ED92; 
    color: #184E77;      
    padding-bottom: 40px;
}

/* TOPO*/
.topo {
    background: linear-gradient(90deg, #52B69A, #168AAD);
    padding: 20px;
    text-align: center;
    color: white;
}

.topo h1 {
    font-size: 28px;
}

/*  AÇÕES */
.acoes {
    margin: 25px auto;
    max-width: 1100px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.acoes input,
.acoes select,
.btn {
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid #76C893;
    outline: none;
    background: #FFFFFF;
    color: #1A759F;
}

/*  Botão Carregar  */
.btn.carregar {
    background: #52B69A;
    color: white;
}

.btn.carregar:hover {
    background: #34A0A4;
}

/*  GRID */
.grid-produtos {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

/*  CARD */
.card {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.07);
    text-align: center;
    transition: 0.3s;
    border: 2px solid #99D98C;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #52B69A;
}

.card img {
    max-width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #184E77;
}

.card p {
    margin: 4px 0;
    color: #1A759F;
}

/*  Botão Detalhes  */
.btn-detalhes {
    margin-top: 10px;
    background: #76C893;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.btn-detalhes:hover {
    background: #52B69A;
}

/*  ERRO  */
.mensagem-erro {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #1E6091;
}

/*  MODAL  */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 78, 119, 0.65);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    border-radius: 12px;
    text-align: center;
    border: 2px solid #52B69A;
}

.modal-content img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 5px;
    color: #184E77;
}